<h1>Add New User</h1>
<form action="/users/new" method="POST">
  <label for="first_name">First Name:</label>
  <input type="text" id=first_name name="first_name" placeholder="Enter a first name" required>
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" placeholder="Enter a last name" required>
  <label for="image_url">Profile Image URL:</label>
  <input type="url" id="image_url" name="image_url" placeholder="Provide an image for user (optional)"> 
  <button type="submit">Add</button>
</form>